cnamedtuple
codecov
flake8
flake8-eradicate
flake8-isort
ipdb
isort
jsonpickle
mongomock
mypy
pdbpp
pip-tools
pymongo
pytest
pytest-coverage
pytest-mock
pytest-sugar
structlog
yapf

confluent-kafka-helpers==0.7.6
redis==2.10.6
hiredis==0.2.0
fakeredis==0.9.0
