codecov
flake8
flake8-eradicate
flake8-isort
ipdb
isort
mongomock
mypy
pdbpp
pip-tools
pytest
pytest-coverage
pytest-mock
pytest-sugar
structlog
yapf

cnamedtuple
confluent-kafka-helpers
fakeredis
hiredis
jsonpickle
pymongo
redis
