cnamedtuple
codecov
flake8
flake8-isort
ipdb
isort
mypy
pytest
pytest-coverage
pytest-mock
pytest-sugar
structlog
yapf
jsonpickle
pymongo

git+https://github.com/fyndiq/confluent_kafka_helpers@v0.5.2#egg=confluent-kafka-helpers
